MINECRAFT_EMAIL=snitchypooo@hotmail.com
MINECRAFT_PASSWORD=Twiged@Is@Gay

HYPIXEL_API_KEY=xxxxxxxxxxxxxxxxx
# Do `/api new` on Hypixel for this

MINECRAFT_CHAT_SEPARATOR=>
# The character that separates the author name from their message in game

USE_FIRST_WORD_OF_AUTHOR_NAME=false
# Set to true to only send the first word in the message author's name

MINIMUM_NETWORK_LEVEL=
# The bot will warn you about players requesting to join the guild that are under this threshold

REMINDER_ENABLED=false
REMINDER_MESSAGE=Join the Discord! /g Discord
# The message to be sent in guild chat (cannot exceed 256 characters)

REMINDER_FREQUENCY=60
# How often to send the reminder, in minutes

DISCORD_TOKEN=MTIxMDk4NjEwMTE5NjU5NTI2Mg.GVE1Nh.PtdloxbYBa37czRPA84qYKjTKPbseA-tx7-7IY
DISCORD_PREFIX=)
DISCORD_INVITE_LINK=discord.gg/

MEMBER_CHANNEL_ID=1210982417461153825
OFFICER_CHANNEL_ID=1210989817761103913
BLACKLIST_CHANNEL_ID=1210361043533176873
ERROR_CHANNEL_ID=1210361043533176873

BOT_OWNER_ID=1210353831662063657
STAFF_ROLE_ID=1210353997748244533
